.body{
    text-align: center;
}

.hero{
    background-color: antiquewhite;
    background-size: 180px 180px;
    text-align: center;
    padding: 30px 0px 50px 0px;
}

.name{
    font-family: 'Sacramento', cursive;
    font-size: 5.5rem;
    text-align: center;
}

p{
    font-family: 'Oxygen', sans-serif;
}

.profile{
    overflow: hidden;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

.resume{
    margin: 50px 0px;
    padding-left: 30px;
}

.bt{
    background: antiquewhite;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

.contact{
    text-align: center;
    margin-bottom: 50px;
}

.cntinf{
    width: 40%;
    margin: 40px auto 60px;
}

.footer{
    background-color: antiquewhite;
    padding: 50px 0px 20px;
    margin: 0px;
    text-align: center;
}

.sm{
    text-decoration: none;
    color:rgb(231, 164, 77);
    padding-right: 10px;
}

.copyright{
    padding-top: 20px;
}